services:
  elasticsearch:
    build: .
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=rag-cluster
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
      - xpack.security.enabled=false
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - rag-net

  kibana:
    image: docker.elastic.co/kibana/kibana:8.16.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - 5601:5601
    networks:
      - rag-net
    depends_on:
      - elasticsearch

volumes:
  es_data:
    driver: local
